<div class="home-slides">
    <div class="main-banner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">{{ lang.t('bannerSubTitle') }}</span>
                        <h1>{{ lang.t('bannerTitle') }}</h1>
                        <p>{{ lang.t('bannerDescription') }}</p>
                        <div class="btn-box">
                            <a
                                routerLink="/about-us"
                                class="default-btn"
                                ><i
                                    class="bx bx-move-horizontal icon-arrow before"
                                ></i
                                ><span class="label">{{ lang.t('bannerMoreInfo') }}</span
                                ><i
                                    class="bx bx-move-horizontal icon-arrow after"
                                ></i
                            ></a>
                            <a
                                routerLink="/contact"
                                class="optional-btn"
                                >{{ lang.t('bannerContactUs') }}</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
