<app-header-style-two />

<div
    class="page-title-area"
    style="background-image: url(images/page-title/page-title2.jpg);"
>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>FAQ's</li>
            </ul>
            <h2>Frequently Asked Question</h2>
        </div>
    </div>
</div>

<div
    class="faq-area pt-100 pb-75"
    [class.dark-faq-area]="themeService.isDark()"
>
    <div class="container">
        <div class="faq-accordion-tab">
            <ul class="nav-tabset">
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab1'}">
                    <span (click)="switchTab($event, 'tab1')">{{ lang.t('faqTab1') }}</span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab2'}">
                    <span (click)="switchTab($event, 'tab2')">{{ lang.t('faqTab2') }}</span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab3'}">
                    <span (click)="switchTab($event, 'tab3')">{{ lang.t('faqTab3') }}</span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab4'}">
                    <span (click)="switchTab($event, 'tab4')">{{ lang.t('faqTab4') }}</span>
                </li>
            </ul>
            <div class="tabs-container">
                @if (currentTab === 'tab1') {
                    <div class="pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-item">
                                    <h3>Q: {{ lang.t('faqQ1Title') }}</h3>
                                    <p><strong>A:</strong> {{ lang.t('faqQ1Content') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (currentTab === 'tab2') {
                    <div class="pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-item">
                                    <h3>Q: {{ lang.t('faqQ2Title') }}</h3>
                                    <p><strong>A:</strong> {{ lang.t('faqQ2Content') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (currentTab === 'tab3') {
                    <div class="pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-item">
                                    <h3>Q: {{ lang.t('faqQ3Title') }}</h3>
                                    <p><strong>A:</strong> {{ lang.t('faqQ3Content') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (currentTab === 'tab4') {
                    <div class="pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-item">
                                    <h3>Q: {{ lang.t('faqQ4Title') }}</h3>
                                    <p><strong>A:</strong> {{ lang.t('faqQ4Content') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<app-become-instructor-partner />
