SMTP_HOST=send.one.com
SMTP_PORT=587
SMTP_USER=contact@elikia-cf.com
SMTP_PASSWORD=change_this_password

CONTACT_TO_EMAIL=contact@elikia-cf.com
CONTACT_FROM_EMAIL=contact@elikia-cf.com
CONTACT_SUBJECT_PREFIX=Website Contact
