<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="section-title text-start">
                <h2>{{ lang.t('valuesTitle') }}</h2>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="values-content">
                <h3>{{ lang.t('valuesExcellenceTitle') }}</h3>
                <p>{{ lang.t('valuesExcellenceText') }}</p>
                <h3>{{ lang.t('valuesAdaptabilityTitle') }}</h3>
                <p>{{ lang.t('valuesAdaptabilityText') }}</p>
                <h3>{{ lang.t('valuesMotivationTitle') }}</h3>
                <p>{{ lang.t('valuesMotivationText') }}</p>
                <h3>{{ lang.t('valuesProfessionalismTitle') }}</h3>
                <p>{{ lang.t('valuesProfessionalismText') }}</p>
            </div>
        </div>
    </div>
</div>
