<div
    class="testimonials-slides"
    [class.dark-testimonials-slides]="themeService.isDark()"
>
    <div class="section-title pt-100">
        <h2>{{ lang.t('testimonialsHeading') }}</h2>
    </div>
    <div class="testimonials-notice">
        <p>{{ noticeText }}</p>
    </div>
    <owl-carousel-o [options]="testimonialsSlides">
        <ng-template carouselSlide *ngFor="let testimonial of testimonials">
            <div class="single-testimonials-item">
                <h3 class="testimonial-title">{{ testimonial.title }}</h3>
                <p>{{ testimonial.text }}</p>
                <div class="info">
                    <h3>{{ testimonial.name }}</h3>
                    <span>{{ testimonial.role }}</span>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
