<div
    class="become-instructor-partner-area"
    [class.dark-become-instructor-partner-area]="themeService.isDark()"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div
                    class="become-instructor-partner-image"
                    style="background-image: url(images/delf.png)"
                >
                    <img src="images/delf.png" alt="image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div
                    class="become-instructor-partner-content"
                    style="background-image: url(images/pattern.png)"
                >
                    <h2>{{ lang.t('delfTitle') }}</h2>
                    <ul>
                        <li>{{ lang.t('delfLi1') }}</li>
                        <li>{{ lang.t('delfLi2') }}</li>
                        <li>{{ lang.t('delfLi3') }}</li>
                    </ul>
                    <a routerLink="/contact" class="default-btn"
                        ><i class="bx bx-plus-circle icon-arrow before"></i
                        ><span class="label">{{ lang.t('delfButtonLabel') }}</span
                        ><i class="bx bx-plus-circle icon-arrow after"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div
                    class="become-instructor-partner-content bg-color"
                    style="background-image: url(images/pattern.png)"
                >
                    <h2>{{ lang.t('instructorTitle') }}</h2>
                    <p>{{ lang.t('instructorDescription') }}</p>
                    <a routerLink="/contact" class="default-btn"
                        ><i class="bx bx-plus-circle icon-arrow before"></i
                        ><span class="label">{{ lang.t('instructorButtonLabel') }}</span
                        ><i class="bx bx-plus-circle icon-arrow after"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div
                    class="become-instructor-partner-image"
                    style="background-image: url(images/become-instructor.jpg)"
                >
                    <img src="images/become-instructor.jpg" alt="image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div
                    class="become-instructor-partner-image"
                    style="background-image: url(images/become-partner.jpg)"
                >
                    <img src="images/become-partner.jpg" alt="image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div
                    class="become-instructor-partner-content"
                    style="background-image: url(images/pattern.png)"
                >
                    <h2>{{ lang.t('partnerTitle') }}</h2>
                    <p>{{ lang.t('partnerDescription') }}</p>
                    <a routerLink="/contact" class="default-btn"
                        ><i class="bx bx-plus-circle icon-arrow before"></i
                        ><span class="label">{{ lang.t('partnerButtonLabel') }}</span
                        ><i class="bx bx-plus-circle icon-arrow after"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</div>
