<div
    class="feedback-slides"
    [class.dark-feedback-slides]="themeService.isDark()"
>
    <owl-carousel-o [options]="feedbackSlides">
        <ng-template carouselSlide *ngFor="let testimonial of testimonials">
            <a routerLink="/feedback" class="single-feedback-item d-block text-decoration-none">
                <p>"{{ testimonial.text }}"</p>
                <div class="info">
                    <h3>{{ testimonial.name }}</h3>
                    <span>{{ testimonial.role }}</span>
                </div>
            </a>
        </ng-template>
    </owl-carousel-o>
</div>
