<div
    class="mission-area ptb-100"
    [class.dark-mission-area]="themeService.isDark()"
    style="background-image: url(images/mission-bg.jpg)"
>
    <div class="container">
        <div class="mission-content">
            <div class="section-title text-start">
                <span class="sub-title">{{ lang.t('missionSubTitle') }}</span>
                <h2>{{ lang.t('missionTitle') }}</h2>
            </div>
            <div class="mission-slides">
                <owl-carousel-o [options]="missionSlides">
                    <ng-template carouselSlide>
                        <h3>{{ lang.t('missionSlide1Heading') }}</h3>
                        <ul>
                            <li>{{ lang.t('missionSlide1Li1') }}</li>
                            <li>{{ lang.t('missionSlide1Li2') }}</li>
                            <li>{{ lang.t('missionSlide1Li3') }}</li>
                            <li>{{ lang.t('missionSlide1Li4') }}</li>
                        </ul>

                        <a routerLink="/our-programs" class="default-btn"
                            ><i class="bx bx-book-reader icon-arrow before"></i
                            ><span class="label">{{ lang.t('missionViewPrograms') }}</span
                            ><i class="bx bx-book-reader icon-arrow after"></i
                        ></a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <h3>{{ lang.t('missionSlide2Heading') }}</h3>
                        <ul>
                            <li>{{ lang.t('missionSlide2Li1') }}</li>
                            <li>{{ lang.t('missionSlide2Li2') }}</li>
                            <li>{{ lang.t('missionSlide2Li3') }}</li>
                        </ul>
                        <a routerLink="/our-programs" class="default-btn"
                            ><i class="bx bx-book-reader icon-arrow before"></i
                            ><span class="label">{{ lang.t('missionViewPrograms') }}</span
                            ><i class="bx bx-book-reader icon-arrow after"></i
                        ></a>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <p class="mission-closing">{{ lang.t('missionClosing') }}</p>
        </div>
    </div>
</div>
