<div
    class="mission-area ptb-100"
    [class.dark-mission-area]="themeService.isDark()"
    style="background-image: url(images/mission-bg.jpg)"
>
    <div class="container">
        <div class="mission-content">
            <div class="section-title text-start">
                <span class="sub-title">Discover Mission</span>
                <h2>Why our platform is better</h2>
            </div>
            <div class="mission-slides">
                <owl-carousel-o [options]="missionSlides">
                    <ng-template carouselSlide>
                        <h3>ELIKIA French 4 All has a proven track record:</h3>
                        <ul>
                            <li>
                                Over 10 years of hands-on experience in French
                                language education.
                            </li>
                            <li>
                                Over XXX children supported in learning French
                                and receiving academic tutoring.
                            </li>
                            <li>
                                Over XXX adults and professionals successfully
                                trained.
                            </li>
                            <li>
                                100% success rate for our learners in exams and
                                certifications.
                            </li>
                        </ul>

                        <a routerLink="/" class="default-btn"
                            ><i class="bx bx-book-reader icon-arrow before"></i
                            ><span class="label">View Courses</span
                            ><i class="bx bx-book-reader icon-arrow after"></i
                        ></a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <h3>A place where you can achieve</h3>
                        <ul>
                            <li>
                                Over 8 years of partnership with Lycée Français
                                Jules Verne (Johannesburg and Pretoria):
                                implementation and organization of FLE, French
                                Passerelle, and Français + programs for students
                                from kindergarten to middle school, including
                                supervision of guided studies from CP to CM2.
                            </li>
                            <li>
                                Collaboration with Crawford Bryanston and
                                Crawford Sandton: management of extracurricular
                                French programs.
                            </li>
                            <li>
                                Support for children of employees in companies
                                based in Johannesburg, including Huawei,
                                Ericsson, ICBC Africa, Aon…
                            </li>
                        </ul>
                        <a routerLink="/" class="default-btn"
                            ><i class="bx bx-book-reader icon-arrow before"></i
                            ><span class="label">View Courses</span
                            ><i class="bx bx-book-reader icon-arrow after"></i
                        ></a>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
