<app-header-style-two />

<div
    class="page-title-area page-title-style-two"
    style="background-image: url(images/page-title/page-title1.jpg);"
>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">{{ lang.t('home') }}</a></li>
                <li>{{ lang.t('coursesPageBreadcrumb') }}</li>
            </ul>
            <h2>{{ lang.t('coursesPageTitle') }}</h2>
        </div>
    </div>
</div>

<div
    class="courses-area ptb-100"
    [class.dark-courses-area]="themeService.isDark()"
>
    <div class="container">
        <div class="section-title text-start">
            <span class="sub-title">{{ lang.t('coursesPageSubTitle') }}</span>
            <h3>{{ lang.t('coursesPageDescription') }}</h3>
            <!-- <a routerLink="/courses-3-columns-style-1" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">All Programs</span><i class="bx bx-show-alt icon-arrow after"></i></a> -->
        </div>
        <ul class="nav-tabset">
            @for (tab of tabs; track tab.id) {
                <li class="nav-tab" [class.active]="currentTab === tab.id">
                    <span [class.active]="currentTab === tab.id" (click)="switchTab($event, tab.id)">
                        {{ tabLabel(tab.id) }} ({{ getTabCount(tab).toString().padStart(2, '0') }})
                    </span>
                </li>
            }
        </ul>
        <div class="tabs-container">
            @if (currentTab === 'tab1') {
                <div class="pane">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25" (click)="switchTab($event, 'tab4')">
                                <div class="courses-image">
                                    <a href="" (click)="switchTab($event, 'tab4')" class="d-block">
                                        <img src="images/language-courses/1.jpg" alt="Children and Teenagers">
                                    </a>
                                    <div class="courses-tag">
                                        <span class="d-block">{{ lang.t('coursesOverviewTag') }}</span>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <h3>
                                        <a href="" (click)="switchTab($event, 'tab4')" class="d-inline-block">{{ lang.t('coursesChildrenOverviewTitle') }}</a>
                                    </h3>
                                    <p>{{ lang.t('coursesChildrenOverviewDesc') }}</p>
                                    <ul>
                                        <li><strong>{{ lang.t('coursesChildrenLi1Bold') }}:</strong> {{ lang.t('coursesChildrenLi1Text') }}</li>
                                        <li><strong>{{ lang.t('coursesChildrenLi2Bold') }}:</strong> {{ lang.t('coursesChildrenLi2Text') }}</li>
                                        <li><strong>{{ lang.t('coursesChildrenLi3Bold') }}:</strong> {{ lang.t('coursesChildrenLi3Text') }}</li>
                                        <li><strong>{{ lang.t('coursesChildrenLi4Bold') }}:</strong> {{ lang.t('coursesChildrenLi4Text') }}</li>
                                        <li><strong>{{ lang.t('coursesChildrenLi5Bold') }}:</strong> {{ lang.t('coursesChildrenLi5Text') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25" (click)="switchTab($event, 'tab2')">
                                <div class="courses-image">
                                    <a href="" (click)="switchTab($event, 'tab2')" class="d-block">
                                        <img src="images/motivation-course/courses/courses-6.jpg" alt="Adults">
                                    </a>
                                    <div class="courses-tag">
                                        <span class="d-block">{{ lang.t('coursesOverviewTag') }}</span>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <h3>
                                        <a href="" (click)="switchTab($event, 'tab2')" class="d-inline-block">{{ lang.t('coursesAdultsOverviewTitle') }}</a>
                                    </h3>
                                    <p>{{ lang.t('coursesAdultsOverviewDesc') }}</p>
                                    <ul>
                                        <li><strong>{{ lang.t('coursesAdultsLi1Bold') }}:</strong> {{ lang.t('coursesAdultsLi1Text') }}</li>
                                        <li><strong>{{ lang.t('coursesAdultsLi2Bold') }}:</strong> {{ lang.t('coursesAdultsLi2Text') }}</li>
                                        <li><strong>{{ lang.t('coursesAdultsLi3Bold') }}:</strong> {{ lang.t('coursesAdultsLi3Text') }}</li>
                                        <li><strong>{{ lang.t('coursesAdultsLi4Bold') }}:</strong> {{ lang.t('coursesAdultsLi4Text') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25" (click)="switchTab($event, 'tab3')">
                                <div class="courses-image">
                                    <a href="" (click)="switchTab($event, 'tab3')" class="d-block">
                                        <img src="images/motivation-course/courses/courses-2.jpg" alt="Companies">
                                    </a>
                                    <div class="courses-tag">
                                        <span class="d-block">{{ lang.t('coursesOverviewTag') }}</span>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <h3>
                                        <a href="" (click)="switchTab($event, 'tab3')" class="d-inline-block">{{ lang.t('coursesCompaniesOverviewTitle') }}</a>
                                    </h3>
                                    <p>{{ lang.t('coursesCompaniesOverviewDesc') }}</p>
                                    <ul>
                                        <li><strong>{{ lang.t('coursesCompaniesLi1Bold') }}:</strong> {{ lang.t('coursesCompaniesLi1Text') }}</li>
                                        <li><strong>{{ lang.t('coursesCompaniesLi2Bold') }}:</strong> {{ lang.t('coursesCompaniesLi2Text') }}</li>
                                        <li><strong>{{ lang.t('coursesCompaniesLi3Bold') }}:</strong> {{ lang.t('coursesCompaniesLi3Text') }}</li>
                                        <li><strong>{{ lang.t('coursesCompaniesLi4Bold') }}:</strong> {{ lang.t('coursesCompaniesLi4Text') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25" (click)="switchTab($event, 'tab6')">
                                <div class="courses-image">
                                    <a href="" (click)="switchTab($event, 'tab6')" class="d-block">
                                        <img src="images/motivation-course/courses/courses-8.jpg" alt="Training Formats">
                                    </a>
                                    <div class="courses-tag">
                                        <span class="d-block">{{ lang.t('coursesOverviewTag') }}</span>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <h3>
                                        <a href="" (click)="switchTab($event, 'tab6')" class="d-inline-block">{{ lang.t('coursesFormatsOverviewTitle') }}</a>
                                    </h3>
                                    <p>{{ lang.t('coursesFormatsOverviewDesc') }}</p>
                                    <ul>
                                        <li>{{ lang.t('coursesFormatsLi1') }}</li>
                                        <li>{{ lang.t('coursesFormatsLi2') }}</li>
                                        <li>{{ lang.t('coursesFormatsLi3') }}</li>
                                        <li>{{ lang.t('coursesFormatsLi4') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (currentTab === 'tab2') {
                <div class="pane">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses1.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatAdults') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user1.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>Steven Smith</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesAdultsCard1Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses6.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatAdults') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user6.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>David Warner</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesAdultsCard2Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (currentTab === 'tab3') {
                <div class="pane">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses3.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatCompanies') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user3.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>James Anderson</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesCompaniesCard1Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses5.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatCompanies') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user5.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>Lina D'Souza</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesCompaniesCard2Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses3.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatCompanies') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user3.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>James Anderson</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesCompaniesCard3Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (currentTab === 'tab4') {
                <div class="pane">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses2.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatChildren') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user2.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>Sarah Taylor</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesChildrenCard1Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses4.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatChildren') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user4.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>Liam King</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesChildrenCard2Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses1.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesCatChildren') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user1.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>Steven Smith</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesChildrenCard3Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (currentTab === 'tab5') {
                <div class="pane">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img src="images/courses/courses2.jpg" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ lang.t('coursesDelfCat') }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="images/user2.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>Sarah Taylor</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ lang.t('coursesDelfCard1Title') }}</a></h3>
                                    <a routerLink="/contact" class="default-btn"><span class="label">{{ lang.t('coursesRequestQuote') }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (currentTab === 'tab6') {
                <div class="pane">
                    <div class="single-courses-box mb-25">
                        <div class="courses-content">
                            <h3>{{ lang.t('coursesGlanceTitle') }}</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{ lang.t('coursesTableAudience') }}</th>
                                            <th>{{ lang.t('coursesTableProgram') }}</th>
                                            <th>{{ lang.t('coursesTableKeyBenefits') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>{{ lang.t('coursesTableChildrenAudience') }}</strong></td>
                                            <td>{{ lang.t('coursesTableChildrenProg1') }}</td>
                                            <td>{{ lang.t('coursesTableChildrenBen1') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableChildrenProg2') }}</td>
                                            <td>{{ lang.t('coursesTableChildrenBen2') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableChildrenProg3') }}</td>
                                            <td>{{ lang.t('coursesTableChildrenBen3') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableChildrenProg4') }}</td>
                                            <td>{{ lang.t('coursesTableChildrenBen4') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableChildrenProg5') }}</td>
                                            <td>{{ lang.t('coursesTableChildrenBen5') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ lang.t('coursesTableAdultsAudience') }}</strong></td>
                                            <td>{{ lang.t('coursesTableAdultsProg1') }}</td>
                                            <td>{{ lang.t('coursesTableAdultsBen1') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableAdultsProg2') }}</td>
                                            <td>{{ lang.t('coursesTableAdultsBen2') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableAdultsProg3') }}</td>
                                            <td>{{ lang.t('coursesTableAdultsBen3') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableAdultsProg4') }}</td>
                                            <td>{{ lang.t('coursesTableAdultsBen4') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ lang.t('coursesTableCompaniesAudience') }}</strong></td>
                                            <td>{{ lang.t('coursesTableCompaniesProg1') }}</td>
                                            <td>{{ lang.t('coursesTableCompaniesBen1') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableCompaniesProg2') }}</td>
                                            <td>{{ lang.t('coursesTableCompaniesBen2') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableCompaniesProg3') }}</td>
                                            <td>{{ lang.t('coursesTableCompaniesBen3') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ lang.t('coursesTableCompaniesProg4') }}</td>
                                            <td>{{ lang.t('coursesTableCompaniesBen4') }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h3>{{ lang.t('coursesFormatsHeading') }}</h3>
                            <ul>
                                <li>{{ lang.t('coursesFormatsLi1') }}</li>
                                <li>{{ lang.t('coursesFormatsLi2') }}</li>
                                <li>{{ lang.t('coursesFormatsLi3') }}</li>
                                <li>{{ lang.t('coursesFormatsLi4') }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
