<app-header-style-three />

<div
    class="page-title-area page-title-style-two"
    style="background-image: url(images/page-title/page-title1.jpg);"
>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Courses</li>
            </ul>
            <h2>Courses 3 Columns</h2>
        </div>
    </div>
</div>

<div
    class="courses-area ptb-100"
    [class.dark-courses-area]="themeService.isDark()"
>
    <div class="container">
        <div class="section-title text-start">
            <span class="sub-title">Discover Courses</span>
            <h2>Our Popular Online Courses</h2>
            <a routerLink="/courses-3-columns-style-1" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">All Courses</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>

        <ul class="nav-tabset">
            @for (tab of tabs; track tab.id) {
                <li class="nav-tab" [class.active]="currentTab === tab.id">
                    <span [class.active]="currentTab === tab.id" (click)="switchTab($event, tab.id)">
                        {{ tab.label }} ({{ getTabCount(tab).toString().padStart(2, '0') }})
                    </span>
                </li>
            }
        </ul>

        <div class="tabs-container">
            <div class="pane">
                <div class="row">
                    @for (program of filteredPrograms; track program.title) {
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box mb-25">
                                <div class="courses-image">
                                    <a routerLink="/single-course" class="d-block"><img [src]="program.image" alt="image"></a>
                                    <div class="courses-tag">
                                        <a routerLink="/courses-3-columns-style-1" class="d-block">{{ program.category }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img [src]="program.authorImage" class="rounded-circle mr-2" alt="image">
                                        <span>{{ program.authorName }}</span>
                                    </div>
                                    <h3><a routerLink="/single-course" class="d-inline-block">{{ program.title }}</a></h3>
                                    <div class="courses-rating">
                                        <div class="review-stars-rated">
                                            @for (star of getStarIcons(program.rating); track $index) {
                                                <i
                                                    class='bx'
                                                    [class.bxs-star]="star === 'full'"
                                                    [class.bxs-star-half]="star === 'half'"
                                                    [class.bx-star]="star === 'empty'"
                                                ></i>
                                            }
                                        </div>
                                        <div class="rating-total">
                                            {{ program.rating.toFixed(1) }} ({{ program.ratingCount }} rating)
                                        </div>
                                    </div>
                                </div>
                                <div class="courses-box-footer">
                                    <ul>
                                        <li class="students-number">
                                            <i class='bx bx-user'></i> {{ program.students }} students
                                        </li>
                                        <li class="courses-lesson">
                                            <i class='bx bx-book-open'></i> {{ program.lessons }} lessons
                                        </li>
                                        <li class="courses-price">
                                            @if (program.oldPrice) {
                                                <span>{{ program.oldPrice }}</span>
                                            }
                                            {{ program.price }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
