<section
    class="courses-area pt-100 pb-75"
    [class.dark-courses-area]="themeService.isDark()"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Welcome to Elikia French4All</span>
            <h2>Our Programs</h2>
            <!-- <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us! We ensure that you will never regret it!</p> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-language-courses-box">
                    <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab4'}" class="d-block">
                        <img src="images/language-courses/1.jpg" alt="image">
                    </a>
                    <div class="content">
                        <h3><a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab4'}">For Children and Teenagers</a></h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
                        <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab4'}" class="link-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-language-courses-box">
                    <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab2'}" class="d-block">
                        <img src="images/motivation-course/courses/courses-6.jpg" alt="image">
                    </a>
                    <div class="content">
                        <h3><a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab2'}">For Adults</a></h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
                        <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab2'}" class="link-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-language-courses-box">
                    <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab3'}" class="d-block">
                        <img src="images/motivation-course/courses/courses-2.jpg" alt="image">
                    </a>
                    <div class="content">
                        <h3><a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab3'}">For Companies and Professionals</a></h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
                        <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab3'}" class="link-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-language-courses-box">
                    <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab5'}" class="d-block">
                        <img src="images/motivation-course/courses/courses-8.jpg" alt="image">
                    </a>
                    <div class="content">
                        <h3><a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab5'}">DELF / Certification Preparation</a></h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p> -->
                        <a [routerLink]="['/courses-3-columns-style-1']" [queryParams]="{tab: 'tab5'}" class="link-btn">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
