<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="images/about/about-1.jpg" class="shadow" alt="image">
                    <img src="images/about/about-2.jpg" class="shadow" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>{{ lang.t('aboutHeading') }}</h2>
                    <ul>
                        <li>{{ lang.t('aboutLi1') }}</li>
                        <li>{{ lang.t('aboutLi2') }}</li>
                        <li>{{ lang.t('aboutLi3') }}</li>
                    </ul>
                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>{{ lang.t('aboutLocation') }}</h5>
                    </div>
                    <a routerLink="/courses-3-columns-style-1" class="default-btn">
                        <i class='bx bx-move-horizontal icon-arrow before'></i>
                        <span class="label">
                            {{ lang.t('aboutViewPrograms') }}
                        </span>
                        <i class="bx bx-move-horizontal icon-arrow after"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
