<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="images/about/about1.jpg" class="shadow" alt="image">
                    <img src="images/about/about2.jpg" class="shadow" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Us</span>
                    <h2>10+ years of experience empowering learners and professionals.</h2>
                    <h6>We can support student forum 24/7 for national and international students.</h6>
                    <ul>
                        <li>French courses for children, teenagers, adults, and professionals</li>
                        <li>Private tutoring and academic support for students in the French school system.</li>
                        <li>Customized corporate training for companies and professionals working with Francophone Africa</li>
                    </ul>
                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>Online or in-person in Johannesburg and Pretoria.</h5>
                    </div>
                    <a routerLink="/courses-2-columns-style-1" class="default-btn">
                        <i class='bx bx-move-horizontal icon-arrow before'></i>
                        <span class="label">
                            View Programs
                        </span>
                        <i class="bx bx-move-horizontal icon-arrow after"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
